In [65]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [64]:
data = pd.read_csv("Estate.csv", sep=",")

In [51]:
data.head(5)

,MLS,Location,Bedrooms,Lounge,Bathrooms,SSQFeet,PPSQFeet,Status,garage,Unnamed: 9
0,132842,wapda town,3,Yes,3,2371,3350,Short Sale,Yes,NaN
1,134364,Iqbal town,4,Yes,3,2818,2560,Short Sale,Yes,NaN
2,135141,Iqbal town,4,Yes,3,3032,2560,Short Sale,Yes,NaN
3,135712,Nespak,4,Yes,4,3540,2950,Short Sale,Yes,NaN
4,136282,Defense,3,No,1,1249,2230,Short Sale,No,NaN

In [52]:
data = data.drop(['MLS','Status'], axis = 1)

In [53]:
data.head()

     Location  Bedrooms Lounge  Bathrooms  SSQFeet  PPSQFeet garage Unnamed: 9
0  wapda town         3    Yes          3     2371      3350    Yes        NaN
1  Iqbal town         4    Yes          3     2818      2560    Yes        NaN
2  Iqbal town         4    Yes          3     3032      2560    Yes        NaN
3      Nespak         4    Yes          4     3540      2950    Yes        NaN
4    Defense          3     No          1     1249      2230     No        NaN

In [54]:
data =  pd.get_dummies(data)

In [55]:
Y = data['PPSQFeet']

In [56]:
X = data.drop(['PPSQFeet'],1)

In [57]:
X.head()

,Bedrooms,Bathrooms,SSQFeet,Location_ Canal view Society,Location_ Defense,Location_ Defense phase2,Location_ Iqbal town,Location_ Johar town,Location_ LDA,Location_ Model Town,...,Location_medical city,Location_township,Location_wapda town,Lounge_0,Lounge_No,Lounge_Yes,garage_0,garage_No,garage_Yes,Unnamed: 9_
0,3,3,2371,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
1,4,3,2818,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,4,3,3032,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,4,4,3540,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,3,1,1249,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [92]:
cols = ['Bedrooms', 'Bathrooms']
X_train = np.array(X[cols])
y_train = np.array(data[["PPSQFeet"]])
    
m = X_train.shape[0]
n = X_train.shape[1]

regr = linear_model.LinearRegression()

regr.fit(X_train, y_train)
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)
MSE = np.mean((regr.predict(X_train) - y_train) ** 2)/X_train.shape[0]
print("Mean squared error: %.2f" 
      % MSE)

print('Variance score: %.2f' % regr.score(X_train, y_train))

Intercept:
 [ 2342.89703543]
Coefficients:
 [[ -4.39391649  33.92396   ]]
Mean squared error: 142.75
Variance score: 0.01

In [93]:
data['PPSQFeet'].mean()

2409.0140845070423

In [94]:
regr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [95]:
regr.score(X_train, y_train)

0.0063369738397767161

In [96]:
y_pred=regr.predict(X_train)

In [97]:
X.shape

(781, 45)

In [98]:
from sklearn import neural_network

In [99]:
regr2 = neural_network.MLPRegressor(max_iter=10000)
regr2.fit(X_train, y_train)
print(regr2.score(X_train, y_train))

C:\Users\Layeq\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:1266: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

-0.00252741115375

In [100]:
MSE = np.mean((regr2.predict(X_train) - y_train) ** 2)/X_train.shape[0]
print("Mean squared error: %.2f"
      % MSE)

Mean squared error: 146.46

In [101]:
X_train.shape[0]

781